<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002958468780-ksa88iclhnh8dmrgebnaa7ito9pu3j5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002958468780-ksa88iclhnh8dmrgebnaa7ito9pu3j5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBkj2C4bDGO4U78k67qR6VzbH1yCs_iAn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1002958468780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meari</string>
	<key>PROJECT_ID</key>
	<string>meari-86237</string>
	<key>STORAGE_BUCKET</key>
	<string>meari-86237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002958468780:ios:c09c2f3cb6fcf9cfa9d109</string>
</dict>
</plist>